{% extends "layout.html" %}
{% block content %}
    <h2>Edit Item: {{ item.name }}</h2>
    <div>
        <a href="{{ url_for('delete_list_item', shopping_list_id=shopping_list.id, list_item_id=item.id) }}" style="color: red;">
            Delete Item
        </a>
    </div>
    </br>
    <div>
        <form method="POST" action="" style="border: 2px;">
            {{ form.hidden_tag() }}
            <fieldset>
                <div>
                    {{ form.name.label() }}
                
                    </br>

                    {% if form.name.errors %}
                        {{ form.name()}}
                        <div>
                            {% for error in form.name.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}                        
                        {{ form.name() }}
                    {% endif %}
                </div>
                </br>
                <div>
                    {{ form.quantity.label() }}
                
                    </br>

                    {% if form.quantity.errors %}
                        {{ form.quantity()}}
                        <div>
                            {% for error in form.quantity.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}                        
                        {{ form.quantity() }}
                    {% endif %}
                </div>
                </br>
                <div>
                    {{ form.priority.label() }}
                
                    </br>

                    {% if form.priority.errors %}
                        {{ form.priority()}}
                        <div>
                            {% for error in form.priority.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}                        
                        {{ form.priority() }}
                    {% endif %}
                </div>
            </fieldset>

            </br>
            
            <div>
                {{ form.submit( class='btn' ) }}
            </div>
        </form>
    </div>
{% endblock %}
