{% extends "layout.html" %}
{% block content %}
    <div class="list-items"></div>
    <h1>Shopping list: {{ shopping_list.name }}</h1>
    <div>
        <a href="{{ url_for('delete_list', shopping_list_id=shopping_list.id) }}" style="color: red;">
            Delete List
        </a>
    </div>
    </br>
    <div>
        <form method="POST" action="" style="border: 2px;">
            {{ list_form.hidden_tag() }}
            <fieldset>
                <div>
                    {{ list_form.list_name.label() }}
                
                    </br>

                    {% if list_form.list_name.errors %}
                        {{ list_form.list_name()}}
                        <div>
                            {% for error in list_form.list_name.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}                        
                        {{ list_form.list_name() }}
                    {% endif %}
                </div>
            </fieldset>

            </br>
            
            <div>
                {{ list_form.submit( class='btn' ) }}
            </div>
        </form>
    </div>

    </br>

    <hr>

    <h2>Add an Item</h2>
    <div>
        <form method="POST" action="" style="border: 2px;">
            {{ form.hidden_tag() }}
            <fieldset>
                <div>
                    {{ form.name.label() }}
                
                    </br>

                    {% if form.name.errors %}
                        {{ form.name()}}
                        <div>
                            {% for error in form.name.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}                        
                        {{ form.name() }}
                    {% endif %}
                </div>
                </br>
                <div>
                    {{ form.quantity.label() }}
                
                    </br>

                    {% if form.quantity.errors %}
                        {{ form.quantity()}}
                        <div>
                            {% for error in form.quantity.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}                        
                        {{ form.quantity() }}
                    {% endif %}
                </div>
            </br>
            <div>
                {{ form.priority.label() }}
            
                </br>

                {% if form.priority.errors %}
                    {{ form.priority()}}
                    <div>
                        {% for error in form.priority.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}                        
                    {{ form.priority() }}
                {% endif %}
            </div>
            </fieldset>

            </br>
            
            <div>
                {{ form.submit( class='btn' ) }}
            </div>
        </form>
    </div>

    {% if list_items | length > 0 %}
        </br>

        <hr>

        <h2>Items in Shopping List</h2>
        <table>
            <tr style="text-align: left;">
                <th>Item</th>
                <th>Quantity</th>
                <th>Added Date</th>
            </tr>
            {% for item in list_items %}
                <tr>
                    <td style="padding-right: 100px;">
                        {{ item.name }}
                    </td>
                    <td style="padding-right: 100px;">
                        {{ item.quantity }}
                    </td>
                    <td style="padding-right: 100px;">
                        {{ item.date_created }}
                    </td>
                    <td>
                        <a href="{{ url_for('edit_list_item', shopping_list_id=shopping_list.id, list_item_id=item.id) }}">
                            Edit
                        </a>
                    </td>
                    <td style="padding-left: 50px;">
                        <a href="{{ url_for('add_item_to_trolley', shopping_list_id=shopping_list.id, list_item_id=item.id) }}">
                            Add to Trolley
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if list_items_trolley | length > 0 %}
        </br>

        <hr>

        <h2>Items in Trolley</h2>
        <div>
            <a href="{{ url_for('remove_all_items_from_trolley', shopping_list_id=shopping_list.id) }}" style="color: red;">
                Remove all</a> items from Trolley
        </div>

        </br>

        <table>
            <tr style="text-align: left;">
                <th>Item</th>
                <th>Quantity</th>
                <th>Added Date</th>
            </tr>
            {% for item in list_items_trolley %}
                <tr>
                    <td style="padding-right: 100px;">
                        {{ item.name }}
                    </td>
                    <td style="padding-right: 100px;">
                        {{ item.quantity }}
                    </td>
                    <td style="padding-right: 100px;">
                        {{ item.date_created }}
                    </td>
                    <td>
                        <a href="{{ url_for('edit_list_item', shopping_list_id=shopping_list.id, list_item_id=item.id) }}">
                            Edit
                        </a>
                    </td>
                    <td style="padding-left: 50px;">
                        <a href="{{ url_for('remove_item_from_trolley', shopping_list_id=shopping_list.id, list_item_id=item.id) }}" style="color: red;">
                            Remove from Trolley
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
