<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Flask Shopping List
            {% if title  != null %}
                - {{ title }}
            {% endif %}
        </title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('account') }}">Account</a></li>
                        <li><a href="{{ url_for('all_shopping_lists') }}">My Lists</a></li>
                        <li>Hello, {{ current_user.username }}</li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %} 
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        or
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                        <li>Hello, Friend</li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div id="container">
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <br>
                            <div class=flashes>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div id="content">
                <br>
                <div>
                    {% if back_button  != null %}
                        <a href="{{ back_button }}">
                            Go Back
                        </a>
                    {% endif %}
                </div>
                {% block content %}

                {% endblock %}
            <br>
            </div>
        </div>
    </body>
</html>